<div class="page" id="summary">
    <div class="content container">
      <h2>Summary</h2>     
      <div class="row">
        <p class='col-md-5 col-md-offset-1'>Mr. Brown is a software engineer with 13 years professional experience. He has been involved in all stages of the software development life cycle. Primarily a Java back-end services and web front-end developer, Mr. Brown has a passion for learning new technologies and applying them to the problems at hand.</p>
        <p class='col-md-5'>Most recently he has been working with AngularJS, Bootstrap, and SASS for creating responsive web sites.  </p>
      </div>
      
    </div><!-- content container -->
</div><!-- summary page -->