 <div class="page" id="experience">
    <div class="container-fluid">
      <h2 id="ourstaff">Experience</h2>
      <div class="row">
        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-offset-0 col-lg-4">
              <img class="img-circle" src="images/doctor-winthrop.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Senior Software Engineer</h3>
              <p>Mr. Brown is currently working on multiple projects for his current employer Riverside Technical Services.  The projects involve AngularJS, Bootstrap, SASS, and responsive design in the creation of a web-portal offering many services.</p>
            </div><!-- info -->         
          </div> <!-- inner row -->
        </div> <!-- experience entry -->

        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-offset-0 col-lg-4">
              <img class="img-circle" src="images/doctor-chase.jpg"  alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Staff Software Engineer</h3>
              <p>For Modus Operandi Inc, Mr. Brown developed software on the Blade Semantic Wiki product. Development was accomplished utilizing Java, Javascript, HTML5, CSS, RDF, and SPARQL. Unit and end-to-end tests were implemented using Jasmine, Karma, and Protractor.</p>
            </div><!-- info -->       
          </div> <!-- inner row -->
        </div> <!-- experience entry -->

        <div class="doctor col-lg-4">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-offset-0 col-lg-4">
              <img class="img-circle" src="images/doctor-sanders.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Software Engineer</h3>
              <p>Mr. Brown served as the primary Java engineer on the US NDC program. . This work included a distributed warning system using XMPP, Java, C, and Perl. Mr. Brown also designed and developed a US NDC portal utilizing Apache HTTPD, Liferay CE, Apache Tomcat, and MySQL. Custom portlets and themes were created for the portal using JEE, HTML, CSS, Javascript, and XML.</p>
            </div><!-- info -->  
          </div> <!-- inner row -->
        </div> <!-- experience entry -->     
        
        
      </div><!-- outer row -->
    </div><!-- container -->
  </div><!-- experience page -->