<div class="page" id="skills">
    <div class="content container">
      <h2>Skills</h2>
      <div class="row">
        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/java.svg" alt="java">
          <h3>Java Services</h3>
          <p>Develops back-end SOAP and REST services using JAX-WS/JAX-RS, Spring, OSGi and other technologies.</p>
        </article>

        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/js.svg" alt="javascript">
          <h3>Web Developer</h3>
          <p>Creates front-end websites and data driven web applications. AngularJS, Bootstrap, SASS, Node, Npm, Grunt.</p>
        </article>

        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/agile.svg" alt="agile">
          <h3>Agile</h3>
          <p>Experienced in Agile through whole Software Development Life Cycle. Scrum, Atlassian suite of tools.</p>
        </article>

        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/teamplayer.svg" alt="teamplayer">
          <h3>Team Player</h3>
          <p>Experienced in working with large or small teams to achieve maximum productivity.</p>
        </article>

        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/active.svg" alt="active">
          <h3>Active</h3>
          <p>Works full time job and actively develops a social networking site in spare time. Also working on creating web-based children's games.</p>
        </article>

        <article class="skill col-md-4 col-sm-6 col-xs-12">
          <img class="icon" src="images/father.svg" alt="family">
          <h3>Father</h3>
          <p>Loving father of two girls, Cayce and Rachel. Activities include roller-skating, swimming, and video games.</p>
        </article>   
      </div><!-- row -->   
    </div><!-- content container -->
  </div><!-- skills page -->