@import 'fonts/DIN/DIN.css';
@import 'variables';
@import 'mixins';

//development outer container - uncomment below to wrap sts in a container
@import 'outer-container';

html, body{
    background-color: $sts-background-color;
    color: $base-color;
    height: 100%;
}

/*main container and defaults*/
#sts-guide{
    background-color: $sts-background-color;
    color: $base-color;
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: absolute;
    font-family: $main-font-stack;
    overflow: auto;

    button{
        padding: 0;
        border: none;
        outline:none;
        font-size: 1em;
    }

}

/*time bar main container*/
#timebar-view{
    width: 100%;
    height: $timebar-height;
    display: block;
    margin: $sts-header-height 0px 0px 0px;
    padding: 0px;
    background-color: $timebar-bg-color;
    margin-left: $channel-view-width;
    position: absolute;
    z-index: 11;

    #timebar-list{
        position: absolute;

        .timebar-item{
            position: absolute;
            padding: 0;
            display: block;
            width: auto;
            height: $timebar-height;
            line-height: $timebar-height;

            button{
                background-color: #004887;
                display: block;
                height: $timebar-height;
                line-height: $timebar-height;
                overflow: hidden;
                width: 99%;
                text-align: left;
                color: $base-color;
                font-size: .8em;
            }
            
            .time-text{
                display: block;
                margin: 0px 5px;
            }

        }

    }

}

/*sts channels view: the main channel navigation container on the left hand side*/
#guide-wrapper{
    width: 100%;
    display: block;
    overflow: auto;
    zoom: 1;
}

#channels-view{
    width: $channel-view-width;
    display: block;
    position: absolute;
    z-index: 10;
}

/*ul - element that contains the list of channels on the left hand side*/
#channels{
    width: 100%;
    display: block;
    overflow: auto;
    zoom: 1;

    li{
        border-top: 1px solid #555;
        border-bottom: 1px solid #111;
        height: $channel-row-height;
        overflow: hidden;

        button{
            display: block;
            background-color: $sts-btn-active-color;
            outline: none;
            border: none;
            color: $base-color;
            width: 100%;

            .ch-logo-sml{
                width:60px;
                display: inline-block;
                float: left;
                margin: 6px 8px;
            }

            .ch-call{
                width:60px;
                display: inline-block;
                height:42px;
                color: $base-color;
                margin:12px 4px;
                text-align: center;
            }

            .ch-num{
                font-weight: 700;
                display:block;
                font-size: 1.1em;
            }
            
            .ch-letters{
                display:block;
                font-size: .8em;
                color: #ddd;
            }

        }

        button:hover{
            background-color: $sts-btn-hover-color;
        }

    }

}

/*sts channel programming view - the main container for the programs*/
#programs-view{
    display: block;
    position: absolute;
    left: $channel-view-width;
    z-index: 9;
}

/*ul This is the main guide list of sts channel programs*/
#programs{
    width: auto;
    overflow: auto;
    display: block;
}

/*li each channel has a program*/
.program{
    display: block;
    height: $channel-row-height;
    overflow: hidden;
}

/*ul each channel has a list of events*/
.events{
    display: block;
}

/*an sts channel program item; a tv show*/
.event{
    width: auto;
    display: block;
    position: absolute;
    font-size: .8em;

    button{
        background-color: $sts-btn-active-color;
        display: block;
        height: 56px;
        margin: 4px 4px;
        overflow: hidden;
        width: 98%;
        text-align: left;
        font-family: $main-font-stack;
        color: $base-color;
        @include border-radius(4px);
    }

    button:hover{
        background-color: $sts-btn-hover-color;
    }

    .event-title{
        text-overflow: ellipsis;
        font-size: 1.2em;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        width: auto;
        display: block; 
        margin: 0px 8px;
    }

    .event-duration{ 
        margin: 0px 8px;
    }

}

/*guide utils*/
#guide-utils{
    display: none;
}

/*guide modal*/
#guide-modal{
    display: none;
}