//vars
$main-font-stack: 'DIN', Arial, Helvetica, sans-serif;
$sts-background-color: #161718;
$sts-btn-active-color:#34363C;//channel and program buttons
$sts-btn-hover-color:#424348;
$channel-view-width: 152px;//width of the channel view on the left. Used also for left positioning of the program view
$channel-row-height: 64px;//height of channel and programs rows
$sts-header-height: 44px;
$base-color: #fff;//base font color
$timebar-bg-color: #0063BA;
$timebar-height: 36px;
$guide-top: 120px;